@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 56px;
  --header-horizontal-padding: 24px;

  --menu-drawer-width: 250px;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  min-height: calc(100vh - var(--header-height));
}

.h-header {
  height: var(--header-height);
}

.w-drawer {
  width: var(--menu-drawer-width);
}
