.admin-login-page {
    display: flex;
    justify-content: center;
}

.admin-login-form {
    --form-fields-seapration: 16px;
    --submit-buttion-separation: 24px;

    display: flex;
    flex-direction: column;
    padding: 24px;
}

.admin-login-form > * {
    margin: calc(var(--form-fields-seapration) / 2) 0;
}

.admin-login-form > *:first-child {
    margin-top: 0;
}

.admin-login-form > *:last-child {
    margin-top: var(--submit-buttion-separation);
    margin-bottom: 0;
}
